.loginContainer{
    margin-top: 20px;
}

.titulo{
    text-align: center;
}

.formLogin{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.inputs{
    padding: 3px;
    border: 0;
    border-bottom: 1px solid;
    width: 75%;
}

.div__btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.btn{
    padding: 5px;
    border-radius: 20px;
    background-color: white;
    border: 2px solid rgb(56, 140, 218);
    width: 50%;
    transition: 0.5s all ease;
}

.btn:hover{
    background-color: rgb(56, 140, 218);
    color: white;
    transition: 0.5s all ease;
}

.div__btn__gestor, .div__txt{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn__gestor{
    background-color: white;
    border: 2px solid rgb(56, 140, 218);
    padding: 5px;
    border-radius: 40px;
    color: black;
    font-size: 0.9em;
    width: 250px;
    text-align: center;
    display: flex;
    transition: 0.5s all ease;
    align-items: center;
    justify-content: center;
}

.btn__gestor:hover{
    background-color: rgb(56, 140, 218);
    color: white;
    transition: 0.5s all ease;
}

.txt{
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: rgb(240 236 236);
}

@media(min-width: 1000px) {
    .loginContainer{
        margin-top: 110px;
    }

    .inputs{
        width: 200px;
    }

    .btn{
        width: 150px;
    }
}