.titulo {
    width: 100%;
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
}

.container__padre {
    padding: 20px 10px;
}

.container {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    scrollbar-color: red;
    gap: 30px;
    margin-top: 10px;
    padding: 10px;
    position: relative;
    right: 0;
}

.container::-webkit-scrollbar {
    display: none;
}

@media(min-width: 1024px) {
    .container {
        justify-content: center;
        right: -60px;
    }

    .container__padre {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: scroll;
    }
}