.container{
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.titulo{
    text-align: center;
    margin-bottom: 10px;
}

.container__prod__name{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 8px;
    border-radius: 5px;
    box-shadow: 0px 0px 13px 2px #c3c3c3;
}

.inputs{
    padding: 3px;
    border: 0;
    border-bottom: 1px solid;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}

.container__btn{
    display: flex;
    justify-content: center;
}

.btn__add{
    width: 50%;
    background-color: white;
    border: 2px solid #15c349;
    border-radius: 20px;
    padding: 5px;
    transition: all ease 0.5s;
}

.btn__add:hover{
    background-color: #15c349;
    color: white;
    transition: all ease 0.5s;
}

.lista{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    margin-top: 20px;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0 0 13px 2px #c3c3c3;
}

.prod__lista{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding-bottom: 2px;
    margin-bottom: 10px;
}

.div__btns{
    display: flex;
    gap: 10px;
}

.btn__delete, .btn__edit{
    width: 20px;
}


@media(min-width: 1024px) {
    .container{
        margin-top: 100px;
        align-items: center;
    }

    .container__prod__name{
        width: 60%;
    }

    .lista{
        width: 60%;
    }
}