.titulo{
    text-align: center;
    margin-top: 20px;
}

.div__desc {
    background-color: rgba(235, 230, 230, 0.74);
    color: black;
    margin: 20px 0;
    padding: 20px;
    position: relative;
    background-size: cover;
}

.desc {
    text-align: center;
}

.img {
    content-visibility: hidden;
}

.logos {
    animation: scrollPhone 22s linear infinite;
    width: 50px;
}

.slide__track {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 3em;
    overflow: hidden;
}

.slider {
    margin-top: 20px;
    background-color: whitesmoke;
    padding: 10px;
}

.encargos__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.carousel-inner{
    padding: 15px;
}

.indicators__procesos{
    margin-bottom: -18px !important;
    filter: invert(100%);
}

.div__padre__ilustrativo{
    display: flex;
    flex-direction: column;
}

.padre__ilustrativo{
    height: 400px;
    overflow: hidden;
}

.img__ilustrativa{
    width: 100%;
}

.txt__ilustrativo{
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 30%;
    color: white;
}

.img__container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container__container{
    margin-bottom: 40px;
}

.container__txt__encargos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txt__encargos{
    text-align: center;
    width: 60%;
}

.div__btn {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
}

.btn {
    width: 250px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid #15c44a;
    text-decoration: none;
    color: black;
    font-size: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background-color: #15c44a;
    color: white;
    transition: all ease 0.5s;
}


@keyframes scrollLaptop {
    0% {
        transform: translateX(1000%);
    }

    100% {
        transform: translatex(-10%)
    }
}

@keyframes scrollPhone {
    0% {
        transform: translateX(600%);
    }

    100% {
        transform: translatex(-700%)
    }
}

@media(min-width: 1000px) {
    .titulo__primero{
        width: 50%;
    }
    
    .titulo{
        right: 25%;
    }

    .div__desc {
        border-radius: 5px;
    }

    .txt__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }

    .logos {
        width: 100px;
        animation: scrollLaptop 30s linear infinite;
    }

    .slider {
        margin-top: 110px;
    }

    .div__desc {
        width: 40%;
    }

    .img {
        content-visibility: unset;
        width: 200px;
    }

    .encargos__container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 20px 0;
    }

    .div__procesos {
        text-align: center;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px;
        border-radius: 10px;
        transition: 0.5s all ease;
    }

    .div__procesos:hover {
        transform: scale(1.1);
        background-color: #e30614;
        color: white;
        transition: 0.5s all ease;
    }

    .img__procesos {
        width: 50px;
    }

    .container__container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }

    .container__carousel{
        width: 45%;
    }

    .indicators__procesos{
        margin-bottom: -20px !important;
    }

    .div__padre__ilustrativo{
        flex-direction: row;
        width: 100%;
    }

    .padre__ilustrativo{
        width: 104%;
        height: 300px;
        overflow: hidden;
    }

    .img__ilustrativa{
        height: 800px;
    }

    .txt__ilustrativo{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(235, 230, 230, 0.74);
        position: unset;
        color: black;
    }
}