.div__padre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.div{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 16%);
    margin-bottom: 20px;
    width: 160px;
}

.img{
    width: 160px;
    border-radius: 5px;
}

.div__info{
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info__nombre{
    font-weight: 400;
}

.info__precio{
    font-size: smaller;
}

.div__btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn{
    text-decoration: none;
    border-radius: 20px;
    font-size: small;
    border: 2px solid #e30614;
    color: black;
    padding: 8px;
}

.btn:hover{
    background-color: #e30614;
    color: white;
    transition: all ease 0.5s;
}

@media(min-width: 1000px){
    .div{
        width: 210px;
        overflow: hidden;
    }
    
    .img{
        width: 210px;
    }
}