.container{
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 10px;
    margin: 10px;
}

.filterPng{
    width: 24px;
    height: 24px;
}

.input{
    padding: 1px;
    border-radius: 3px;
    border: 1px solid black;
}

.select__option{
    border-radius: 3px;
    border: 1px solid black;
}

.option:hover{
    background-color: rgb(116, 116, 116);
    color: white;
}

.filtersContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media(min-width: 1000px) {
    .container{
        margin-left: 10px;
        height: 20px;
        flex-direction: column;
        width: auto;
    }

    .input, .select__option{
        width: 200px;
    }
}