.container{
    display: flex;
    flex-direction: row;
    width: 70%;
    gap: 10px;
    margin: 10px;
}

.filterPng{
    width: 24px;
    height: 24px;
}

.input, .select__option{
    padding: 5px;
    border-radius: 20px;
    border: 2px solid rgb(227 6 19);
    width: 100%;
}

.option:hover{
    background-color: rgb(116, 116, 116);
    color: white;
}

.filtersContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.container__precio__rango{
    display: flex;
    flex-direction: column;
}

.input__precio__rango{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    accent-color: rgb(227 6 19);
}

.confirm__btn{
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    border: 2px solid rgb(227 6 19);
    margin-top: 10px;
    transition: all ease 0.5s;
}

.confirm__btn:hover{
    background-color: rgb(227 6 19);
    color: white;
    transition: all ease 0.5s;
}

@media(min-width: 1000px) {
    .container{
        margin-left: 10px;
        height: 20px;
        flex-direction: column;
        width: 25%;
    }
}