.titulo {
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
}

.faq {
    display: flex;
    flex-direction: column;
    border: 1px solid #84848445;
    border-radius: 5px;
    margin: 10px;
}

.question {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}

.imgSuma {
    width: 20px;
    height: 20px;
}

.answer {
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.answer.show {
    max-height: 1000px;
    padding-bottom: 5px;
    transition: max-height 0.5s ease;
}